################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VerticalSlicesMilan/.vs
/VerticalSlicesMilan/obj/Docker
